---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: "Subflow: Kubeconform Chart"

on:
  workflow_call:
    inputs:
      chartsToKubeconform:
        required: false
        type: string
        default: ""

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      charts: ${{ steps.vars.outputs.charts }}
    steps:
      - name: Create an array of charts
        id: vars
        run: echo "charts=$(jq 'split(",")' -Rc <(echo '${{ inputs.chartsToKubeconform }}'))" >> $GITHUB_OUTPUT

  kubeconform:
    needs: setup
    runs-on: ubuntu-latest
    strategy:
      matrix:
        k8s:
          # from https://github.com/yannh/kubernetes-json-schema
          - v1.27.14
          - v1.28.10
          - v1.29.5
          - v1.30.1
          - v1.31.3
        charts: ${{ fromJson(needs.setup.outputs.charts) }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
        with:
          fetch-depth: 0
 
      - name: Setup Homebrew
        uses: Homebrew/actions/setup-homebrew@master

      - name: Run kubeconform
        env:
          KUBERNETES_VERSION: ${{ matrix.k8s }}
          CHART_DIRS: ${{ matrix.charts }}
        run: .github/ci/kubeconform.sh