---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: "Subflow: Lint Chart"

on:
  workflow_call:
    inputs:
      chartsToLint:
        required: false
        type: string
        default: ""

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      charts: ${{ steps.vars.outputs.charts }}
    steps:
      - name: Create an array of charts
        id: vars
        run: echo "charts=$(jq 'split(",")' -Rc <(echo '${{ inputs.chartsToLint }}'))" >> $GITHUB_OUTPUT

  lint-chart:
    needs: setup
    runs-on: ubuntu-latest
    strategy:
      matrix:
        charts: ${{ fromJson(needs.setup.outputs.charts) }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4.3.1
        with:
          fetch-depth: 0

      - name: Install Helm
        uses: azure/setup-helm@v4.3.1
        with:
          version: v3.16.3 # renovate: datasource=github-releases depName=helm packageName=helm/helm

      - uses: actions/setup-python@v6.2.0
        with:
          python-version-file: .python-version

      - name: Install chart-testing
        uses: helm/chart-testing-action@v2.8.0
        with:
          version: v3.11.0 # renovate: datasource=github-releases depName=chart-testing packageName=helm/chart-testing

      - name: Run lint
        run: ct lint --config .github/ci/ct-lint.yaml --charts "${{ matrix.charts }}"